@model IEnumerable<SocialNetworkMiw.Models.NotificationViewModel>



@{ 
    ViewData["Title"] = "Notifications";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Image")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Content(item.UrlImgUser)" style="width:100px;height:100px" />
            </td>
            <td>
                <a href="@Url.Action("Details", "Porfile", new { id = item.UserId})">@item.UserName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @using (Html.BeginForm("Accept", "Notification"))
                {
                    var url = @Context.Request.Path + @Context.Request.QueryString;
                    @Html.AntiForgeryToken();
                    <input type="hidden" id="idFrindRequest" name="idFrindRequest" value="@item.FriendRequestId" />
                    <input type="hidden" id="returnUrl" value="@url" name="returnUrl" />
                    <input type="submit" class="btn btn-outline-primary" style="float:right" role="button" aria-pressed="true" value="Confirm" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Notification"))
                {
                    var url = @Context.Request.Path + @Context.Request.QueryString;
                    @Html.AntiForgeryToken();
                    <input type="hidden" id="idFrindRequest" name="idFrindRequest" value="@item.FriendRequestId" />
                    <input type="submit" class="btn btn-outline-danger" style="float:right" role="button" aria-pressed="true" value="Delete" />
                }
            </td>
        </tr>
}
    </tbody>
</table>
