@model UserViewModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var id = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    ViewData["Title"] = "Users";
}

@if (!Model.Users.Any() || (Model.Users.Count == 1 && Model.Users[0].Id == id))
{
    <h1>Users not found</h1>
}

@foreach (var item in Model.Users)
{
    @if (item.Id != id)
    {
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <img src="@Url.Content(item.ImageUrl)" style="width:300px;height:300px" />
                </div>
                <div class="col-md-6">
                    @Html.ActionLink(item.Name, "Details", "Porfile", new { id = item.Id }, new { @class = "display-4" })
                    @{
                        var countFriends = item.Friends == null ? "0" : item.Friends.Count().ToString();
                    }
                    <p class="lead">City: @item.City</p>
                    <p class="lead">Job: @item.Job</p>
                    <p class="lead">Friends: @countFriends</p>
                </div>
            </div>
            <hr class="my-4">
            @if (item.Friends.Any(u => u == id))
            {
                <p style="float:right"><strong>Friends</strong></p>
            }
            else if (!item.FriendRequests.Any(u => u.UserId == id))
            {
                if (Model.CurrentUserRequests.Any(u => u.UserId == item.Id))
                {
                    FriendRequest friendRequest = Model.CurrentUserRequests.Single(u => u.UserId == item.Id);
                    <a href="@Url.Action("Accept", "Notification", new { idFrindRequest = friendRequest.Id, returnUrl = Context.Request.Path + Context.Request.QueryString })" style="float:right" class="btn btn-outline-primary" role="button" aria-pressed="true">Confirm</a>
                }
                else
                {
                    <a href="@Url.Action("AddFriend", "Friend", new { id = item.Id, returnUrl = Context.Request.Path + Context.Request.QueryString })" style="float:right" class="btn btn-outline-primary" role="button" aria-pressed="true">Add Friend</a>
                }
            }
            else
            {
                <p style="float:right"><strong>Friend Request Sent</strong></p>
            }
        </div>
    }
}

